.App {
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr 6fr 2fr;
  grid-template-areas: "first-border logo nav second-border";
}

header img {
  grid-area: logo;
}

header Nav {
  grid-area: nav;
}

header ul {
  list-style-type: none;
}

header ul li {
  float: left;
}

header li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hero-banner {
  background-color: rgb(54, 104, 45);
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border article second-border";
}

.hero-banner article {
  grid-area: article;
}

.available-times {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-template-areas: "first-border availablTimes choseTime second-border";
  margin-top: 80px;
  margin-bottom: 20px;
}

.available-times ul {
  grid-area: availablTimes;
}

.available-times h3 {
  grid-area: choseTime;
}

.specials {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border article second-border";
  margin-top: 80px;
  margin-bottom: 20px;
}

.specials article {
  grid-area: article;
}

.specials button {
  float: right;
  margin-top: 25px;
  background-color: #ece907;
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bookin-form button {
  float: right;
  margin-top: 25px;
  background-color: #ece907;
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.specials .specials-header-text {
  float: left;
}

main {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border section second-border";
}

main section {
  grid-area: section;
}

.about {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border section second-border";
}

.about section {
  grid-area: section;
  background-color: beige;
  min-height: 600px;
}

.booking {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border section second-border";
}

.booking section {
  display: block;
  grid-area: section;
  background-color: beige;
  min-height: 600px;
}


.confirmed-booking {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border section second-border";
}

.confirmed-booking section {
  display: block;
  grid-area: section;
  min-height: 200px;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: "first-border section second-border";
}

.menu section {
  grid-area: section;
  background-color: beige;
  min-height: 600px;
}

footer {
  display: grid;
  grid-template-columns: 2fr repeat(4, 2fr) 2fr;
  grid-template-areas: "first-border logo nav contact social second-border";
  margin-top: 50px;
}

footer img {
  grid-area: logo;
  padding-top: 5px;
}

footer Nav {
  grid-area: nav;
  padding-left: 10px;
}

footer .contact {
  grid-area: contact;
}

footer .social {
  grid-area: social;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
